{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Login Start -->
    <div class="login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-form">
                        <form action="{% url 'user_login' %}" method="POST"  class="row">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label>E-mail / Username</label>
                                <input class="form-control" type="text" required name="Email" placeholder="E-mail / Username">
                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                <input class="form-control" type="text" required name="Password" placeholder="Password">
                            </div>
                            {% if request.GET.next %}
                            <input hidden type="text" required name="next" value="{{request.GET.next}}">
                            {% endif %}
                            <div class="col-md-12">
                                <input class="btn" type="submit" value="login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->
{% endblock %}